<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        {% load staticfiles %}
        <!-- Citation: bootstrat.css library from Bootstrap -->     
        <script src="{% static 'pollution_map/jquery-1.11.1.js' %}" type="text/javascript"></script>
        <script src="{% static 'pollution_map/bootstrap.bundle.js' %}" type="text/javascript"></script>
        <script src="{% static 'pollution_map/pollution_map_10060740.js' %}" type="text/javascript"></script>
        <link href="{% static 'pollution_map/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'pollution_map/base.css' %}" media="screen and (min-device-width: 1060px)" rel="stylesheet" type="text/css">
        <link href="{% static 'pollution_map/mobile.css' %}" media="screen and (max-device-width: 1059px)" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'pollution_map/images/cmu_icon.png' %}" />
        <title> Pittsburgh Pollution Map </title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 mobile">
                    <div class="dropdown" style="z-index: 10">
                        <img class="menu_mobile btn btn-secondary" src="{% static 'pollution_map/images/menu.png' %}" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        
                        <ul class="dropdown-menu" aria-labelled-by="dropdownMenuButton">
                            <li>
                                <form method="get" action="{% url 'home' %}"> 
                                    <input type="submit" class='dropdown-item1' value="Home" />
                                </form>
                            </li>
                            <li>
                                <form method="get" action="{% url 'about' %}"> 
                                    <input type="submit" class='dropdown-item1' value="About" />
                                </form>
                            </li>
                            <li>
                                <form method="get" action="{% url 'contact' %}"> 
                                    <input type="submit" class='dropdown-item1' value="Contact" />
                                </form>
                            </li>
                            <li>
                                <form method="get" action="{% url 'snapshot' %}"> 
                                    <input type="submit" class='dropdown-item1' value="Snapshot" />
                                </form>
                            </li>
                            <li>
                                <form method="get" action="{% url 'data' %}"> 
                                    <input type="submit" class='dropdown-item1' value="Data" />
                                    <input type="hidden" name="id" value={{id}} />
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-10 mobile name">Pittsburgh Pollution</div>
                
                <div class="col-lg-5 big-screen">
                    <div class="dropdown" style="z-index: 10">
                        <img class="menu btn btn-secondary" src="{% static 'pollution_map/images/menu.png' %}" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        <ul class="dropdown-menu" aria-labelled-by="dropdownMenuButton">
                            <li>
                                <form method="get" action="{% url 'home' %}"> 
                                    <input type="submit" class='dropdown-item' value="Home" />
                                </form>
                            </li>
                            <li>
                                <form method="get" action="{% url 'about' %}"> 
                                    <input type="submit" class='dropdown-item' value="About" />
                                </form>
                            </li>
                            <li>
                                <form method="get" action="{% url 'contact' %}"> 
                                    <input type="submit" class='dropdown-item' value="Contact" />
                                </form>
                            </li>
                            <li>
                                <form method="get" action="{% url 'snapshot' %}"> 
                                    <input type="submit" class='dropdown-item' value="Snapshot" />
                                </form>
                            </li>
                            <li>
                                <form method="get" action="{% url 'data' %}"> 
                                    <input type="submit" class='dropdown-item' value="Data" />
                                    <input type="hidden" name="id" value={{id}} />
                                </form>
                            </li>
                        </ul>
                    </div>

                    <div onclick="location.href='{% url 'home' %}'" style="text-align: left; font-size: 40px; font-weight: bold; position: absolute; left: 7vw;">
                        Pittsburgh Pollution
                    </div>
                    <p class="big-screen" style="top: 7vh; left: 7vw; position: absolute; font-size: 14px;">
                        Please click around the map to find pollution information. You can choose which pollutant you view in the menu to the right.<br /> Caution: Real-time data are preliminary.
                    </p>
                </div>
                <div class="col-lg-2 dial_frame big-screen">
                    <img src="{% static 'pollution_map/images/white_bg.png' %}" class="white_bg">
                    <div></div>
                    <div class="pm25_dial">
                        <img src="{% static 'pollution_map/images/dial_gradient_1126_red.png' %}" class="pm25_dial_img" id="dial_pic">
                        <div id="arrow">
                            <!-- <img src="{% static 'pollution_map/images/red_arrow.png' %}" class="red_arrow" id="pm25_arrow"> -->
                        </div>
                        <img src="{% static 'pollution_map/images/black_circle.png' %}" class="black_circle">
                    </div>
                </div>

                <div class="col-lg-5">
                    <div  class="radio-title-box big-screen">
                        <div class="box">
                            Current Displayed Pollutant
                        </div>
                        <div class="box">
                            <table style="text-align: center; padding: 0; width: 100%; height:100%;">
                                <tr>
                                    <td>
                                        <input id="checkBox" type="radio" name="pollutant" checked="checked" id="pm25radio" onclick="pm25RadioChecked()">
                                    </td>
                                    <td class="checkbox">
                                        <a href="https://www.epa.gov/pm-pollution/particulate-matter-pm-basics">
                                            Particulate Matter
                                        </a>
                                    </td>
                                    <td>
                                        <input id="checkBox" name="pollutant" type="radio" id="o3radio" onclick="o3RadioChecked()">
                                    </td>
                                    <td class="checkbox">
                                        <a href = "https://www.epa.gov/ozone-pollution/basic-information-about-ozone">
                                            Ozone
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div  class="radio-title-box mobile">
                        <div class="box">
                            Current Displayed Pollutant
                        </div>
                        <div class="box">
                            <table style="text-align: center; padding: 0; width: 100%; height:100%;">
                                <tr>
                                    <td>
                                        <input id="checkBox" type="radio" name="pollutantMobile" checked="checked" id="pm25radio" onclick="pm25RadioCheckedMobile()">
                                    </td>
                                    <td class="checkbox">
                                        <div>
                                            Particulate Matter
                                        </div>
                                    </td>
                                    <td>
                                        <input id="checkBox" name="pollutantMobile" type="radio" id="o3radio" onclick="o3RadioCheckedMobile()">
                                    </td>
                                    <td class="checkbox">
                                        <div>
                                            Ozone
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    
                    {% block layer %}
                    {% endblock %}
                </div>                
            </div>
            <div class="row">
                <div class="col-lg icon-cyan">
                    
                </div>
                <div class="col"></div>              
            </div>
        </div>
        
        {% block map %}
        <div id="map_area" class="big-screen">
            <img src="{% static 'pollution_map/images/pit_map.png' %}" onclick="searchPoint(event)" class="map" id="map">
        </div>
        <div id="map_area_mobile" class="mobile">
            <img src="{% static 'pollution_map/images/pit_map_mobile.png' %}" onclick="searchPointMobile(event)" class="map mobile" id="map_mobile">
        </div>
        {% endblock %}
        <div class="dial_frame mobile" id="dial_frame" style="z-index: 12;" onclick="searchPointMobile(event)">
            <!-- <img src="{% static 'pollution_map/images/white_bg.png' %}" class="white_bg"> -->
            <div class="pm25_dial">
                <img src="{% static 'pollution_map/images/dial_mobile.png' %}" class="pm25_dial_img">
                <div id="arrow_mobile" style="margin-top: 2rem;">
                    <img src="{% static 'pollution_map/images/red_arrow.png' %}" class="red_arrow" id="pm25_arrow_mobile">
                </div>
                <img src="{% static 'pollution_map/images/black_circle_half.png' %}" class="black_circle" id="black_circle">
            </div>
        </div>
        <img id="up_arrow" src="{% static 'pollution_map/images/up_arrow.png' %}" onclick="goToPit()" class="up_arrow" style="display: none;">
        <img id="down_arrow" src="{% static 'pollution_map/images/down_arrow.png' %}" onclick="goToClairton()" class="down_arrow">
        {% if pop_up %}
            <div id='pop-up-box' class="big-screen">
            </div>
        {% endif %}
    </body>
</html>