<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        {% load staticfiles %}
        <!-- Citation: bootstrat.css library from Bootstrap -->     
        <script src="{% static 'pollution_map/jquery-1.11.1.js' %}" type="text/javascript"></script>
        <script src="{% static 'pollution_map/bootstrap.bundle.js' %}" type="text/javascript"></script>
        <!-- <script src="{% static 'pollution_map/pollution_map.js' %}" type="text/javascript"></script> -->
        <link href="{% static 'pollution_map/bootstrap.css' %}" rel="stylesheet" type="text/css">
    
        <link href="{% static 'pollution_map/base.css' %}" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'pollution_map/images/cmu_icon.png' %}" />
        <title> Pittsburgh Pollution Map </title>
    </head>


    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-1">
                    <div class="dropdown" style="z-index: 10; margin: 12px;">
                        <img class="btn btn-secondary menu2" src="{% static 'pollution_map/images/menu.png' %}" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        <ul class="dropdown-menu" aria-labelled-by="dropdownMenuButton">
                            <li>
                                <form method="get" action="{% url 'home' %}"> 
                                    <input type="submit" class='dropdown-item' value="Home" />
                                </form>
                            </li>
                            <li>
                                <form method="get" action="{% url 'about' %}"> 
                                    <input type="submit" class='dropdown-item' value="About" />
                                </form>
                            </li>
                            <li>
                                <form method="get" action="{% url 'contact' %}"> 
                                    <input type="submit" class='dropdown-item' value="Contact" />
                                </form>
                            </li>
                            <li>
                                <form method="get" action="{% url 'snapshot' %}"> 
                                    <input type="submit" class='dropdown-item' value="Snapshot" />
                                </form>
                            </li>
                            <li>
                                <form method="get" action="{% url 'data' %}"> 
                                    <input type="submit" class='dropdown-item' value="Data" />
                                </form>
                            </li>
                    <!--         <li>
                                <form method="get" action="{% url 'upload' %}"> 
                                    <input type="submit" class='dropdown-item' value="Upload" />
                                </form>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-6" style="font-size:40px; margin: 10px; font-weight: bold;">
                    Pittsburgh Pollution
                </div>
            </div>
            {% block title %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            
        </div>
        <hr>
        <footer>
            <div class="footerR">
                <p>© 2018  Department of Social and Decision Sciences (SDS) and the Center for Atmospheric Particle Studies (CAPS) </p>
                <br>
            </div>
            <div class= "footerL">

            </div>
        </footer>
    </body>
</html>