{% extends "pollution_map/bg_base.html" %}
{% block title %}
<div class="titleLayer" style="background: rgba(8,46,0,0.5);">Contact</div>
<div class="row" style="background-image: url(/static/pollution_map/images/phone.jpg); height: 40vh; background-size: cover; padding: 10vh">         
</div>
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-1"></div>
    <div class="col-10">
        <br>
        <br>
        <div class="content">
            If you have questions, suggestions, or general comments, let us know. You can contact us at: CMU.RAMPS@gmail.com. We will routinely check the account for your input. 
        </div>
        <br>
        <br>
    </div>
    <div class="col-1"></div>
</div>
{% endblock %}