{% extends "pollution_map/bg_base.html" %}
{% block title %}
<div class="titleLayer" style="background: rgba(0,0,255,0.5);">Data</div>
<div class="row" style="background-image: url(/static/pollution_map/images/archive.jpg); height: 40vh; background-size: cover; padding: 10vh">         
</div>
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-1"></div>
    <div class="col-10">
        <br>
        <br>
        <div class="content">
            One goal of this project is to encourage citizen scientists to engage with their environment. We will be working to make our data publicly accessible. 
        </div>
        <br>
        <br>
    </div>
    <div class="col-1"></div>
</div>
{% endblock %}