.pm {
    font-size: 2vh;
    flex-wrap: wrap;
    position: absolute;
    left:3vh;
    top:0vh;
}

.ozone {
    font-size: 2vh;
    flex-wrap: wrap;
    position: absolute;
    left:50vh;
    top:0vh;
}

.checkbox {
    width: 18vh;
    top: 2vh;
    font-size:2vh;
    text-align: left;
}

.box {
    flex-wrap: wrap;
    width: 60vh;
    height: 8vh;
    font-size:3vh;
    border-style: solid;
    border-width: 1vh;
    padding:0.5vh;
    text-align: center;
    border-color: black;
    right: 0vh;
    z-index: -1;
}

.blue_arrow {
    width: 2vh;
    height: 11vh;
    position: absolute;
    left:11.5vh;
    bottom: 2.5vh;
    transform-origin: bottom; 
}

.red_arrow {
    width: 2vh;
    height: 11vh;
    position: absolute;
    left:11.5vh;
    bottom: 2.5vh;
    transform-origin: bottom;
}

.black_circle {
    width: 5vh;
    height: 5vh;
    position: absolute;
    left:10vh;
    bottom: 0vh;
}

.pm25_dial {
    width: 25vh;
    height: 15vh;
    /*position: absolute;
    left:2vh;
    top:3.5vh;*/
    position: absolute;
    right: 0;
    top: 3.4vh;
}

.o3_dial {
    width: 25vh;
    height: 15vh;
    position: absolute;
    left:42vh;
    top:3.5vh;
}

.pm25_dial_img {
    /*width: 25vh;
    height: 15vh;*/
    width: 30vh;
    height: 30vh;
    position: absolute;
    /*left:2vh;
    top:3.5vh;*/
    left:-2.5vh;
    top:-2.5vh;
}

.o3_dial_img {
    width: 25vh;
    height: 15vh;
    position: absolute;
    left:42vh;
    top:3.5vh;
}

.dial_frame {
    z-index:1;
    background-color: white;
    backface-visibility: visible;
}

.white_bg {
    width: 35vh;
    height: 17vh;
    padding-top: 0;
    padding-left: 0;
}

.white_bg_l {
    width: 70vh;
    height: 17vh;
    padding-top: 0;
    padding-left: 0;
}

.menu {
    width: 40px;
    height:32px;
    position: absolute;
    top: 2.5vh;
    left: 1vw;
    flex-wrap: wrap;
}

.layer {
    width: 4vw;
    height: 6vh;
    position: absolute;
    z-index: 3;
    transition: opacity 250ms;
    visibility: visible;
    opacity: 1;
}

.map {
    width: 100vw;
    height: 84vh;
    position: absolute;
    top: 16vh;
    z-index: 2;
}

.cursor {
    z-index: 5;
    border-color: yellow;
    border-style: solid;
    border-width: 6px;
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
}

input[type='radio']:after {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    top: -10.5px;
    left: -9px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 5px solid black;
}

input[type='radio']:checked:after {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    top: -10.5px;
    left: -9px;
    position: relative;
    background-color: black;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 5px solid black;
}