.big-screen {
    display: none;
}

.menu {
    display: none;
}

.menu_mobile {
    width: 8rem;
    height:8rem;
    flex-wrap: wrap;
}

.dropdown-item1 {
    display: block;
    width: 100vw;
    height: 100px;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    font-size: 3rem;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-family: 'FreeMono', monospace;
}

.dropdown-item1:hover {
    width: 100vw;
    border-bottom: 3px solid #4f4f4f;
    background-color: rgba(6,69,173,0.5);
    color: white;
}

.menu-button {
    /*flex-wrap: wrap;*/
    width: 12rem;
    height: 9rem;
    padding-right:0;
    background-color: lightgray;
    border-radius: 1rem;
    /*border: solid;*/
}

.name {
    font-size: 5rem;
}

.pm {
    font-size: 2vh;
    flex-wrap: wrap;
    position: absolute;
    left:3vh;
    top:0vh;
}

.ozone {
    font-size: 2vh;
    flex-wrap: wrap;
    position: absolute;
    left:50vh;
    top:0vh;
}

.checkbox {
    width: 18vh;
    top: 2vh;
    font-size:2vh;
    text-align: left;
}

.box {
    flex-wrap: wrap;
    width: 98vw;
    height: 8vh;
    font-size:3vh;
    border-style: solid;
    border-width: 1rem;
    padding:0;
    text-align: center;
    border-color: black;
    z-index: -1;
}

.blue_arrow {
    width: 1vh;
    height: 5.5vh;
    margin-left: 6.5rem;
    position: absolute;
    transform-origin: bottom;
}

.red_arrow {
    width: 1vh;
    height: 5.5vh;
    margin-left: 6.5rem;
    position: absolute;
    transform-origin: bottom;
}

.black_circle {
    width: 2.5vh;
    height: 1.4vh;
    margin-top: 4.5rem;
    margin-left: 5.8rem;
    position: absolute;
}

.pm25_dial {
    width: 14vh;
    height: 8vh;
    padding: 0;
    position: absolute;
}

.o3_dial {
    width: 14vh;
    height: 8vh;
    position: absolute;
/*    position: absolute;
    left:42vh;
    top:3.5vh;*/
}

.pm25_dial_img {
    /*width: 25vh;
    height: 15vh;*/
    width: 14vh;
    height: 8vh;
    position: absolute;
    /*left:2vh;
    top:3.5vh;*/
/*    margin-left:11rem;
    margin-top:-1rem;*/
}

.o3_dial_img {
    width: 25vh;
    height: 15vh;
    position: absolute;
    left:42vh;
    top:3.5vh;
}

.dial_frame {
    z-index:12;
    background-color: transparent;
    backface-visibility: visible;
    position: absolute;
    width:14vh;
    height: 14vh;
    margin-left: 45rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.white_bg {
    width: 25vh;
    height: 17vh;
    padding-top: 0;
    padding-left: 0;
}

.white_bg_l {
    width: 70vh;
    height: 17vh;
    padding-top: 0;
    padding-left: 0;
}

.menu {
    width: 40px;
    height:32px;
    position: absolute;
    top: 2.5vh;
    left: 1vw;
    flex-wrap: wrap;
}

.menu2 {
    width: 40px;
    height:32px;
    margin: 10px;
    /*flex-wrap: wrap;*/
}

.layer {
    width: 4vw;
    height: 4vh;
    position: absolute;
    z-index: 3;
    transition: opacity 250ms;
    visibility: visible;
    opacity: 1;
}

.titleLayer {
    width: 100vw;
    height: 40vh;
    position: absolute;
    padding-top: 10vh;
    left: 0vw;
    z-index: 3;
    transition: opacity 250ms;
    visibility: visible;
    opacity: 1;
    text-align: center;
    color: white;
    font-size: 12rem;
    display: block;
}

.map {
    width: 100vw;
    height: 76vh;
    position: absolute;
    top: 24vh;
    z-index: 2;
}

.cursor {
    z-index: 5;
    border-color: yellow;
    border-style: solid;
    border-width: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
}

.cursor2 {
    z-index: 5;
    border-color: gold;
    border-style: solid;
    border-width: 6px;
    background-color: gold;
    text-align: center;
    width: 2.5vw;
    height: 2.5vw;
    position: absolute;
    color: white;
}

.menu_btn {
    width: 30vw;
    box-shadow: 2px 3px;
}

.table_display {
    width: 8vw;
    text-align: center;
    border-style: solid;
}

.content {
    font-size: 3.5rem;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}


footer{
    padding: 3vh;
    height: 5vh;
    text-align: center;
    font-size: 2rem;
    color: #444;
}

input[type='radio']:after {
    width: 4rem;
    height: 4rem;
    border-radius: 32px;
    top: -2.3rem;
    left: -9px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.5rem solid black;
}

input[type='radio']:checked:after {
    width: 4rem;
    height: 4rem;
    border-radius: 32px;
    top: -2.3rem;
    left: -9px;
    position: relative;
    background-color: black;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.5rem solid black;
}
